/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('../principal.css');

/* Estilos generales para resetear márgenes y rellenos */
*{
    margin:0%;
    padding: 0%;
}

/* Estilos para la barra de navegación principal */
.principal-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.nav-bg-color-dark{
    background-color: var(--dark-blue);
}

/* Estilos para el logo en la barra de navegación */
.principal-nav__img{
    width: 200px;
}

/* Estilos para la sección de opciones en la barra de navegación */
.principal-nav-option{
    width: 70%;
}

/* Estilos para la lista de opciones en la barra de navegación */
.principal-nav__ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para cada elemento de la lista de opciones */
.principal-nav__ul > li{
    padding:0 20px;
    list-style: none;
    font-family: var(--font);
    font-size: var(--texto-nomal);
}

/* Estilos para el texto de navegación */
.nav-text{
    text-decoration: none;
}

/* Estilos para el color del texto de navegación */
.txt-white {
    color: white;
}

.abrirMenu,
.cerrarMenu{
    display: none;
}

@media screen and (max-width: 600px) {

    .principal-nav{
        display: flex;
        justify-content: space-between;
    }

    .abrirMenu, .cerrarMenu{
        display: block;
        border: none;
        font-size: 2.5rem;
        cursor: pointer;
        background-color: transparent;
        color: #003049;
        align-items: end;
    }

    .cerrarMenu{
        color: aliceblue;
    }

    .principal-nav-option {
        width: 100vw;
        height: 20vh;
        opacity: 0%;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        background-color: var(--dark-blue);
        padding: 2rem;
        box-shadow: 0 0 10px 10% rgba(0, 0, 0, 0.322);
    }

    .principal-nav__ul{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        width: 80%;
        height: 50%;
    }

    .principal-nav-option.visible{
        opacity: 1;
        visibility: visible;
    }

}
