@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('../principal.css');

.container-access-denied {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/img/icons/edificios_acces_denied.png');
    background-size: cover;
    background-repeat: none;
    background-color:var(--dark-blue);
}

.information-access-denied{
    width: 100vw;
    height: 100vh;
    
    align-items: center;
    display: flex;
    flex-direction: column;
}

.oops-access-denied{
    height: 30%;
    width: 40%;
    background-image: url("../../../public/img/icons/acces_denied.png");
    background-size: cover;
    background-repeat: none;
    margin-top: 5vh;
}

.text-access-denied{
    width: 60vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-access{
    font-size: 5vh
}

.info-access{
    text-align: center;
    font-size: 2vh;
    color: var(--light-gray);
    margin-top: 2vh;
}

.buttons-access{
    width: 60vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-access-denied{
    font-size: 2vh;
    background-color: var(--dark-gray);
    border-radius: 1vh 0vh;
    padding: 1vh;
    width: 20vh;
    border: none;
    margin-top: 10vh;
    color: white;
}

.button-access-denied:hover{
    background-color: rgb(101, 118, 134);
    cursor: pointer;
}