/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../principal.css');


/* Contenedores */
.container-reservation{
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Estilos para el contenedor de registro y registro */
.registro, .register{
    width: 60%;
    background-color: rgb(197, 193, 197);
    padding: 30px;
    margin-top: 50px;
    border-radius: 15px;
    justify-content: center;
}

/* Estilos para el formulario dentro de .registro */
.registro > form{
    display: flex;
    height: 300px;
}

/* Estilos para el formulario dentro de .register */
.register > form{
    height: 350px;
}

/* Estilos para la información dentro de .information */
.information{
    width: 50%;
    height: 250px;
    padding: 0px;
    flex-direction: column;
}

/* Estilos para los elementos h4, option, p, h5 */
h4, option, p, h5{
    color: black;
}

/* Estilos para la información dentro de .information2 */
.information2{
    width: 100%;
    height: 150px;
    padding: 0px;
    flex-direction: column;
}

/* Estilos para el cuadro de archivos dentro de .files-box */
.files-box >div{
    width: 400px;
    padding: 4px;
}

/* Estilos para el cuadro de fecha y hora dentro de .datetime-box */
.datetime-box{
    width: auto;
    height: auto;
    margin-top: 5%;
}

/* Estilos para el cuadro de archivos dentro de .files-box */
.files-box{
    width: 50%;
    height: 250px;
    padding: 0px;
    font-family: var(--font);
    font-size: var(--texto-nomal);
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para el cuadro de botones dentro de .btn-box */
.btn-box{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

/* Estilos para el cuadro de fecha y hora dentro de .datetime-div */
.datetime-div{
    align-items: center;
    justify-content: center;
    display: flex;
}

/* Estilos para el cuadro de regreso dentro de .return-box */
.return-box{
    margin: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 10%;
}

/* Texto */
h4{
    margin-bottom: 20px;
    font-size: var(--titulo-secundario);
    font-family: var(--font);    
}

h5{
    font-size: var(--texto-nomal);
    font-family: var(--font);  
}

/* Botones y elementos de entrada */
.select, input[type="date"], input[type="time"]{
    font-size: var(--texto-nomal);
    border-radius: 5px;
    padding: 15px;
    color: black;
    background-color: rgb(231, 231, 231);
    font-family: var(--font);
    border: none;
}

/* Estilos para los enlaces en .files-box */
.files-box >div >a{
    text-decoration: none;
    color: #fff;
    padding: 3%;
    border-radius: 5px;
    background-color: rgba(11, 43, 85, 0.651);
}

/* Estilos para el botón de reserva */
.btn-reservation{
    background: var(--dark-blue);
    width: 200PX;
    color: rgb(255, 255, 255);
    justify-content: center;
    border-radius: 4px;
    padding: 12px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    font-size: var(--texto-nomal);
    font-family: var(--font);
}

/* Estilos para el elemento de archivo */
input[type="file"]{
    background-color: rgba(11, 43, 85, 0.651);
    width: 100%;
    color: white;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: var(--texto-nomal);
    font-family: var(--font);
    border: none;
}

/* Estilos para la entrada de texto en .information2 */
.information2 >input[type="text"]{
    width: 90%;
    height: 100%;
    border-radius: 5px;
    background-color: white;
    color: black;
}
