@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../principal.css');

.Principal-content{
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 5%;
    margin-top: 10%;
}

.profile-info-box{
    background-color: var(--light-blue);
    width: 30%;    
    height: auto;
    border-radius: 20px;
}

.profile-data-box{
    background-color: var(--light-blue);
    width: 70%;
    height: auto;
    border-radius: 20px;
}

.info-user-title{
    display: inline;
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}

/* Estilos para el contenedor de botones */
.button-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 5%;
}

/* Estilos para el título */
.title{
    font-weight: 100;
    font-size: var(--titulo-principal);
    align-items: center;
    text-align: center;
    margin-top: 2%;
}

/* Estilos para el contenedor de datos */
.data-box{
    font-size: var(--titulo-secundario);
    font-weight: lighter;
    padding:10% 12%;
}

/* Estilos para el título de información */
.info-text-title{
    display: inline;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

/* Estilos para la imagen del usuario */
.profile-info-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la imagen del usuario */
.profile-info-img > img{
    width: 60%;
}

/* Estilos para el texto en la información del usuario */
.user-info > p {
    font-weight: lighter;
    font-size: var(--texto-nomal);
    padding-left: 15%;
    padding-top: 10%;
}

.profile-info-data {
    margin: 10% 15%;
}