/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../principal.css');

.title-header{
  color: black;
  margin-left: 3%;
  margin-bottom: 2%;
}
.caracteristicas-div{
  width: 60%;
  height: auto;
  background-color: var(--light-blue);
  padding: 2%;
  border-radius: 5px;
  margin-left: 5%;
}

.button-state, .input-div{
  background-color: var(--dark-blue);
  padding: 2%;
  border-radius: 5px;
  font-weight: bold;
  font-size: var(--texto-nomal);
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  cursor: pointer;
}

.action-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  width:100%;
}


.input-div{
  padding-right: 4%;
  padding-left: 4%;
}

.distribucion-div{
  width: 60%;
  margin-left: 5%;
  background-color: var(--light-blue);
  padding: 2%;
  border-radius: 5px;
}

.input-img{
  width: 50%;
}

.action-div{
  display: flex;
  flex-direction: column;
  gap: 5%;
  
}

.input-div{
  width: 50%;
}

.mrg-5{
  margin-bottom: 5%;
}

.mrg-r{
  margin-right: 2%;
}

.txt-white{
  color: #fff;
}

.txt-black{
  color: black;
}

.title-caracteristicas{
  text-align: center;
  border-bottom: 2px solid white;
  padding-bottom: 5%;
}

.information-body-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2%;
  width: 100%;
}

.container-propierty-state{
  display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide en dos columnas iguales */
  height: 100vh;
}

.img-box-div{
  height: auto;
  width: 100%;
}

.img-view-state{
  width: 100%;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}