@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

:root{
    --dark-blue: #000A1C;
}

.left-dashboard{
    background-color: var(--dark-blue);
    color: white;
    position: fixed;
    width: 20%;
    height: 100vh; 
}

.img-dashboard-box{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 15%;
}
.img-dashboard-box > img{
   width: 80%;
}

.nav-left-dashboard{
    margin-left: 10%;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    list-style: none;
    margin-top: 30%;
}

.list{
    list-style: none;
    width: 80%;
}

.menu-item{
    margin-bottom: 20%;
    height: 100%;
}

.submenu{
    display: none;
    list-style: none;
    transition: max-height 0.5s ease-in-out; /* Efecto de despliegue suave */
    overflow: hidden;
    max-height: 0;
}

.menu-item:hover > .submenu {
    display: block;
    max-height: 300px;
    max-width: 300px;
}

.sub-menu-item{
    margin-left: 10%;
    margin-top: 10%;
}

.item-text {
    display: flex;
}

.normal{
    margin-right: 15%;
}

.normal-row{
    margin-left: 15%;
}

.item-text:hover{
    border-bottom: 3px solid #6378a0;
}

.link-list{
    color: white;
    text-decoration: none;
}

.sup-dashboard{
    width: 100%;
    height: 8%;
    position: fixed;
    margin-left: 20%;
    background-color: var(--dark-blue);
    color: white;
    align-items: center;
    display: flex;
}

.title-dashboard{
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
}

.icon-dashboard{
    margin-left: 35%;
}

.principal-content{
    position: fixed;
    margin-left: 20%;
    margin-top: 5%;
    background-color: white;
    width: 100%;
    height: 100%;
}