@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.box-btn{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 20px 20px;
}

.btn{
    width: 100%;
    height: 120px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;  
}

.one{
    background-image: url("option-1.png");
    background-size: cover;
}

.two{
    background-image: url("option-2.png");
    background-size: cover;
}

.three{
    background-image: url("option-3.png");
    background-size: cover;
}

.four{
    background-image: url("option-4.png");
    background-size: cover;
}

.five{
    background-image: url("option-5.png");
    background-size: cover;
}
.btn > strong{
    margin: 0% auto;
    position: relative;
    top: 30%;
}

.title-booking{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 150%;
    font-family: 'Quicksand', sans-serif;
}