/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

/* Estilos generales para resetear márgenes y rellenos */
*{
    margin:0%;
    padding: 0%;
}

/* Estilos para la barra de navegación principal */
.principal-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

/* Estilos para el logo en la barra de navegación */
.principal-nav > img{
    width: 200px;
}

/* Estilos para la sección de opciones en la barra de navegación */
.principal-nav-option{
    width: 70%;
}

/* Estilos para la lista de opciones en la barra de navegación */
.principal-nav-option> ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para cada elemento de la lista de opciones */
.principal-nav-option> ul > li{
    padding:0 20px;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

/* Estilos para el texto de navegación */
.principal-nav-option> ul > li > .nav-text{
    text-decoration: none;
}

/* Estilos para el color del texto de navegación */
.principal-nav-option> ul > li > .nav-text{
    color: black;
}
