@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('../principal.css');

.header-info-detail{
    margin-left:15%;
    display: flex;
    width: 70vw;
    justify-content: space-around;
    padding-top: 1%;
    margin-top:2%;
    background-color: var(--light-blue);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 0 10px .1px rgb(168, 168, 168);
}

.data-detail{
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0% 10%;
    gap: 100px;
    width: 90%;
}

.caracteristicas, .distribucion{
    padding: 3%;
    border-radius: 20px;
    margin-top: 5%;
    color:white;
    width: 60%;

}

.img-box-individual-state{
    margin-top: 2%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.img-individual{
    width: 70%;
    height: 20rem;
    object-fit: cover;
    border-radius:10px;
}
.catalogue-img-data{
    background-color: white;
    width:70%;
    height: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-left: 15%;
    border-radius:0px 0px 10px 10px;
    box-shadow: 10px 0 10px -5px rgb(203, 203, 203), -10px 0 10px -5px rgb(203, 203, 203), 0 10px 10px -5px rgb(203, 203, 203);
}

.t{
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.b{
    padding:1%;
    background-color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.b:hover{
    background-color: black;
    color: aliceblue;
}

.catalogue-data_button {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-blue);
    font-size: var(--texto-nomal);
    cursor: pointer;
    margin-bottom: 10%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  }
  
  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
    color: black;
  }

  .datetime-box__catalogue{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: auto;
    margin-top: 5%;
}

.modal_button{
    margin-top: 5%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--dark-blue);
    font-size: var(--texto-nomal);
    cursor: pointer;
    margin-bottom: 10%;
    width: 100%;
}