:root {
    --texto-funcional: 12px;
    --texto-nomal: 16px;
    --titulo-secundario: 20px;
    --titulo-principal: 44px;
    --font: 'Quicksand', sans-serif;


    --light-blue: #D8E3E2;
    --dark-gray: #3D4A5A;
    --dark-blue: #000A1C;
    --light-gray: #92969E;
  }