:root {
    --texto-funcional: .8rem;
    --texto-nomal: 1rem;
    --titulo-secundario: 1.2rem;
    --titulo-principal: 3rem;
    --font: 'Quicksand', sans-serif;


    --light-blue: #D8E3E2;
    --dark-gray: #3D4A5A;
    --dark-blue: #000A1C;
    --light-gray: #92969E;
  }