/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../principal.css');

.content-update-data {
    margin: 20px;
  }
  
  .update-form {
    max-width: 40%;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    background-color: var(--light-blue);
    padding: 5%;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width:100%;
  }

  .form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .btn-update {
    background-color: var(--dark-blue);
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .btn-update:hover {
    background-color: var(--dark-gray);
  }