/* Importar la fuente 'Quicksand' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('../principal.css');

.title-header{
  color: black;
  margin-left: 3%;
  margin-bottom: 2%;
}
.caracteristicas-div{
  width: 30%;
  height: auto;
  
}

.button-state, .input-div{
  background-color: var(--dark-blue);
  padding: 2%;
  border-radius: 5px;
  font-weight: bold;
  font-size: var(--texto-nomal);
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  cursor: pointer;
}

.action-buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
}


.input-div{
  padding-right: 4%;
  padding-left: 4%;
}

.distribucion-div{
  width: 40%;
  margin-left: 7%;
}

.input-img{
  width: 50%;
}

.action-div{
  display: flex;
}

.input-div{
  width: 50%;
}

.mrg-5{
  margin-bottom: 5%;
}

.txt-white{
  color: #fff;
}

.txt-black{
  color: black;
}

.title-caracteristicas{
  text-align: center;
}

.information-body-div{
  display: flex;
  align-items: center;
  gap:2%;
}

#slider {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 20%;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 300px;
    background: #ccc;
    text-align: center;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
  
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }